<title>{{default meta.title title}}</title>
<meta name="robots" content="{{meta.robots}}" />
<meta name="google" content="nositelinkssearchbox" />
{{#if meta.description}}
<meta property="description" content="{{meta.description}}" />
{{/if}}
<meta property="og:title" content="{{default meta.title title}}" />
<meta property="og:site_name" content="{{default meta.title title}}">
{{#if meta.description}}
<meta property="og:description" content="{{meta.description}}" />
{{/if}}
<meta property="og:type" content="website" />
{{#if meta.redirect}}
<meta http-equiv="refresh" content="0;URL={{when (env 'production') (concat 'https://' (shared 'contact.domain')) '/'}}{{meta.redirect}}">
{{else if meta.redirect_external}}
<meta http-equiv="refresh" content="0;URL={{meta.redirect_external}}">
{{/if}}
{{#if index}}
<meta name="google-site-verification" content="9tT4LSS6xmYQzWCBoSQ6L8yuNTz2RAlxFr2TTWpTZuQ" />
{{/if}}
