<div class='with-images at-top'>
  <div id='papier' class='image is-repeated is-right is-faint'></div>
  <div class='image-content'>
    <section class='section'>
      <div class='hero is-last'>
        <div class='segment avatar-container'>
          <h1>
            <span class='is-block'>
              {{#> modifiers/highlight class='is-black is-wide' }}
              <span class='js-greeting'>{{
                greetings.default
              }}</span><span>{{
                greetings.punctuation
              }}</span>
              {{/modifiers/highlight}}
            </span>
            <span class='is-block pt-2'>
              {{> modifiers/highlight class='is-black is-wide'
                text='Mein Name ist Jonas'
              }}
            </span>
          </h1>
          <div class='avatar'>
            <img src='images/avatar.jpg' height='72'></img>
          </div>
        </div>
        <div class='segment'>
          <div class='rectangle is-green is-wide-desktop'>
            <h2>
              Ich gebe Studenten der Informatik privat Nachhilfe
            </h2>
          </div>
        </div>
        <p class='segment'>
          Du lernst bei mir die Inhalte
          deiner Vorlesungen zu verstehen und anzuwenden,
          die dir im Moment noch Schwierigkeiten bereiten.
        </p>
        <p data-mark='sticky-header-in' class='segment'>
          Ich erkläre sie dir individuell im Einzelunterricht,
          so dass du deine Aufgaben eigenständig lösen kannst.
        </p>
        <div class='segment pt-1'>
          <div class='action'>
            {{> actions/link
              id='contact-start'
              name='Kontakt'
              href=(shared 'links.local.contact' (env))
              no-track=false
            }}
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id='papier' class='image is-repeated is-left is-faint'></div>
</div>

<div class='slanted-shadow is-green is-rising is-1'>
  <div class='slanted-shadow__content'>
    <section id='kurse' class='section'>
      <p class='segment'>
        Ich behandle mit dir alle Kurse, die
        <span class='underline is-green'>Programmierung</span>,
        <span class='underline is-green'>Mathematik</span> oder
        <span class='underline is-green'>Logik</span>
        zum Inhalt haben.
      </p>
      <p class='segment'>
        Gerne helfe ich dir auch bei der
        <span class='underline is-green'>Korrektur</span>
        und
        <span class='underline is-green'>Verbesserung</span>
        deiner Lösungen,
        oder ich erstelle
        <span class='underline is-green'>Musterlösungen</span>
        und erläutere sie dir.
      </p>
      <div class='segment pt-1'>
        <div class='action'>
          {{#> actions/spoiler
            id='courses'
            name='Liste der Kurse'
          }}
          {{> spoilers/courses.hbs}}
          {{/actions/spoiler}}
        </div>
      </div>
    </section>
  </div>
</div>

<div class='with-images'>
  <div id='papier' class='image is-repeated is-right is-faint'></div>
  <div class='image-content'>
    <section id='software' class='section'>
      <p class='segment'>
        {{> modifiers/highlight class='is-green-light'
          text='Mein Unterricht findet online statt'
        }}
      </p>
      <p class='segment'>
        Wir telefonieren über
        {{prop (prop software (prop software.by_category.meeting 0)) 'name'}},
        {{prop (prop software (prop software.by_category.meeting 1)) 'name'}}
        oder eine ähnliche Software.
        Ich teile meinen Bildschirm mit dir
        und nehme meinen Block und meinen Taschenrechner auf,
        um dir Inhalte anschaulich erklären zu können.
      </p>
      <p class='segment'>
        Außerdem programmieren wir gemeinsam
        in einer geteilten Entwicklungs&shy;umgebung,
        welche zwischen unseren Computern synchronisiert wird.
      </p>
      <div class='segment pt-1'>
        <div class='action'>
          {{#> actions/spoiler
            id='software'
            name='Verwendete Software'
          }}
          {{> spoilers/software.hbs}}
          {{/actions/spoiler}}
        </div>
      </div>
    </section>
  </div>
  <div id='papier' class='image is-repeated is-left is-faint'></div>
</div>

<div class='slanted-shadow is-blue is-falling is-1'>
  <div class='slanted-shadow__content'>
    <section id='zahlung' class='section'>
      <p class='segment'>
        {{> modifiers/highlight class='is-blue'
          text='Deine erste Stunde ist kostenlos'
        }}
      </p>
      <p class='segment'>
        Anschließend nehme ich
        <span class='underline is-blue'>
          zwischen <nobr>{{price.lessons.value_low}} und
            {{price.lessons.value_high}}{{price.currency_symbol}}</nobr>
          pro <nobr>{{price.lessons.minutes}} Minuten</nobr></span>.
        Der genaue Preis hängt von der Komplexität des Themas
        und der notwendigen Vorbereitungszeit ab.
        {{!-- du bezahlst jedoch nur die Zeit, die wir auch tatsächlich nutzen.
        Dies gilt sowohl für meine Hilfe per Meeting als auch per Chat. --}}
      </p>
      <p>
        Musterlösungen und Korrekturen kosten meist
        <span class='underline is-blue'><nobr>{{price.solutions.value_low}} bis
          {{price.solutions.value_high}}{{price.currency_symbol}}</nobr>
          pro Aufgabe</span>,
        je nach Umfang und voraussichtlichem Zeitaufwand.
        Die Erläuterung meiner Lösung ist im Preis inbegriffen.
      </p>
      {{!-- <p class='segment'>
        Falls du sehr viele Stunden Nachhilfe bei mir nimmst,
        können wir auch gerne über eine Vergünstigung sprechen.
      </p> --}}
      <div data-mark='sticky-header-out' class='segment pt-1'>
        <div class='action'>
          {{#> actions/spoiler
              id='pricing'
              name='Weitere Informationen'
            }}
          {{> spoilers/pricing.hbs}}
          {{/actions/spoiler}}
        </div>
      </div>
    </section>
  </div>
</div>

<div class='with-images'>
  <div id='papier' class='image is-repeated is-right is-faint'></div>
  <div class='image-content'>
    <section class='section'>
      <p class='segment'>
        {{> modifiers/highlight class='is-black'
          text='Brauchst du Hilfe?'
        }}
      </p>
      <p class='segment'>
        Du kannst mich jederzeit kontaktieren
        und schildern wobei du Schwierigkeiten hast.
        Ich werde so zeitnah wie möglich auf dich zukommen!
      </p>
      <div class='segment pt-1'>
        <div class='action'>
          {{> actions/link
            id='contact-end'
            name='Kontakt'
            href=(shared 'links.local.contact' (env))
            no-track=false
          }}
        </div>
      </div>
      {{!-- <div class='footer-separator'></div> --}}
    </section>
  </div>
  <div id='papier' class='image is-repeated is-left is-faint'></div>
</div>

<div class='slanted-shadow is-green is-rising is-1 mt-4'>
  <div class='slanted-shadow__content'>
    <section class='section'>
      <p>
        <span class='underline is-green'>
          Über mich
        </span>
      </p>
      <p>
        Ich heiße
        {{shared 'contact.name.second'}}
        {{shared 'contact.name.last'}},
        ich bin 22 Jahre alt
        und habe Informatik mit Abschluss Bachelor an der
        {{> components/link
          id='ext-th-koeln'
          href=external.university.url
          name=external.university.name_der
          target='_blank'
          no-track=true
          analytics=false
        }}
        studiert.
        Ich war bereits während meines Studiums als Tutor beschäftigt
        <nobr>({{> components/link
          id='ext-tutoring-activity'
          href=external.tutoring.url
          name='siehe hier'
          target='_blank'
          no-track=true
        }})</nobr>
        und gebe nun nebenher freiberuflich Nachhilfe.
      </p>
      <p>
        Bereits zu meiner Schulzeit habe ich Zuhause programmiert
        und mir vieles neues Wissen selbstständig beigebracht.
        Diese Leidenschaft trage ich bis heute mit mir
        und ich freue mich immer,
        sie während meines Unterrichts ausleben zu können.
      </p>
      <p>
        Gerne berate ich dich auch zu deinem Studium
        oder berichte aus meinen eigenen Erfahrungen,
        wenn du mal die Perspektive eines Absolventen gebrauchen kannst.
      </p>
      <div class='segment py-2'>
        <div class='action'>
          {{> actions/link
            id='contact-about'
            name='Schreibe mich an'
            href=(shared 'links.local.contact' (env))
            no-track=false
          }}
        </div>
      </div>
    </section>
  </div>
</div>

<div class='with-images'>
  <div id='papier' class='image is-repeated is-right is-faint'></div>
  <div class='image-content'>
    <section class='section py-0'>
      <div style='width: 100vw; height: 5rem'></div>
    </section>
  </div>
  <div id='papier' class='image is-repeated is-left is-faint'></div>
</div>
