<!-- {{> components/info-banner }} -->
<div class='with-images at-top'>
  <div id='papier' class='image is-repeated is-right is-faint'></div>
  <div class='image-content'>
    <section class='section is-first'>
      <div class='hero'>
        <div class='segment avatar-container'>
          <p>
            <span class='is-block'>
              {{#> modifiers/highlight class='is-light is-wide' }}
              <span class='js-greeting'>{{
                greetings.default
              }}</span>
              <!-- <span>{{
                greetings.punctuation
              }}</span> -->
              {{/modifiers/highlight}}
            </span>
            <span class='is-block pt-2'>
              {{> modifiers/highlight class='is-light is-wide'
                text='Mein Name ist Jonas'
              }}
            </span>
          </p>
          <div class='avatar'>
            <img src='images/avatar.jpg' height='72'></img>
          </div>
        </div>
        <div class='segment'>
          <div class='rectangle is-green is-wide-desktop'>
            <h1>
              Ich gebe Informatik-Studenten freiberuflich Nachhilfe
              auf Augenhöhe.
            </h1>
          </div>
        </div>
        <p class="segment">
          Du lernst bei mir die Themen zu verstehen,
          die dir im Moment noch Schwierigkeiten bereiten,
          so dass du deine Aufgaben eigenständig lösen kannst.
        </p>
        <p data-mark="sticky-header-in" class="segment">
          Durch meine Erfahrung
          und meine Fähigkeit selbstständig neues zu lernen,
          kann ich dir Inhalte verständlich erklären
          und dir neue Perspektiven bieten.
        </p>
        <div class='segment pt-1'>
          <div class='action'>
            {{> actions/link
              id='contact-start'
              name='Kontaktiere mich'
              href=(shared 'links.local.contact' (env))
              no-track=false
            }}
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id='papier' class='image is-repeated is-left is-faint'></div>
</div>

<div class='slanted-shadow is-green is-rising is-1'>
  <div class='slanted-shadow__content'>
    <section id='kurse' class='section'>
      <p class='segment'>
        Ich behandle mit dir alle Kurse, die
        <span class='underline is-green'>Programmierung</span>,
        <span class='underline is-green'>Mathematik</span> oder
        <span class='underline is-green'>Logik</span>
        zum Inhalt haben.
        Ich biete auch die Korrektur und Verbesserung deiner Lösungen an
        oder erstelle einzelne Musterlösungen.
      </p>
      <div class='segment pt-1'>
        <div class='action'>
          {{#> actions/spoiler
            id='courses'
            name='Liste der Kurse'
          }}
          {{> spoilers/courses.hbs}}
          {{/actions/spoiler}}
        </div>
      </div>
      <p class='segment pt-4'>
        <span class='underline is-green'>
          Mein Unterricht findet online statt</span>,
        so kann ich kurzfristig und zu praktisch jeder Tageszeit
        zur Verfügung stehen.
      </p>
      <p class='segment'>
        Wir telefonieren über
        {{prop (prop software (prop software.by_category.meeting 0)) 'name'}},
        {{prop (prop software (prop software.by_category.meeting 1)) 'name'}}
        oder eine ähnliche Software.
        Ich teile meinen Bildschirm und meine Notizen mit dir,
        um dir Inhalte anschaulich erklären zu können.
      </p>
      <div class='segment pt-1'>
        <div class='action'>
          {{#> actions/spoiler
            id='software'
            name='Verwendete Software'
          }}
          {{> spoilers/software.hbs}}
          {{/actions/spoiler}}
        </div>
      </div>
    </section>
  </div>
</div>

<div class='with-images'>
  <div id='papier' class='image is-repeated is-right is-faint'></div>
  <div class='image-content'>
    <section class='section'>
      <p class='segment'>
        {{> modifiers/highlight class='is-black'
          text='Benötigst du Hilfe?'
        }}
      </p>
      <p class='segment'>
        Du kannst mich jederzeit kontaktieren
        und schildern wobei du Schwierigkeiten hast.
        Ich werde so zeitnah wie möglich auf dich zukommen!
      </p>
      <div class='segment pt-1'>
        <div class='action'>
          {{> actions/link
            id='contact-end'
            name='Kontakt'
            href=(shared 'links.local.contact' (env))
            no-track=false
          }}
        </div>
      </div>
      {{!-- <div class='footer-separator'></div> --}}
    </section>
  </div>
  <div id='papier' class='image is-repeated is-left is-faint'></div>
</div>

<div class='slanted-shadow is-blue is-falling is-1'>
  <div class='slanted-shadow__content'>
    <span id='preise' style="position: absolute; top: -100px"></span>
    <section class='section'>
      <p class='segment'>
        {{> modifiers/highlight class='is-blue'
          text='Die erste Stunde ist unverbindlich'
        }}
      </p>
      <p class='segment'>
        Du zahlst nur dann, wenn du mit deiner Stunde zufrieden bist.
        So können wir uns kennenlernen
        und du kannst dich von mir überzeugen,
        ganz ohne Zahlungsdruck.
      </p>
      <p class='segment'>
        Ich nehme
        <span class='underline is-blue'>
          zwischen <nobr>{{price.lessons.value_low}} und
            {{price.lessons.value_high}}{{price.currency_symbol}}</nobr>
          pro <nobr>{{price.lessons.minutes}} Minuten</nobr></span>.
        Der genaue Preis hängt von der Komplexität des Themas
        und der notwendigen Vorbereitungszeit ab.
      </p>
      <p>
        Musterlösungen und Korrekturen kosten meist
        <span class='underline is-blue'><nobr>{{price.solutions.value_low}} bis
          {{price.solutions.value_high}}{{price.currency_symbol}}</nobr>
          pro Aufgabe</span>,
        je nach Umfang und voraussichtlichem Zeitaufwand.
      </p>
      <div data-mark='sticky-header-out' class='segment pt-1'>
        <div class='action'>
          {{#> actions/spoiler
              id='pricing'
              name='Weitere Informationen'
            }}
          {{> spoilers/pricing.hbs}}
          {{/actions/spoiler}}
        </div>
      </div>
    </section>
  </div>
</div>

<div class='with-images'>
  <div id='papier' class='image is-repeated is-right is-faint'></div>
  <div class='image-content'>
    <section class='section is-last'>
      <p class='segment'>
        {{> modifiers/highlight class='is-black'
          text='Über mich'
        }}
      </p>
      <p>
        Ich heiße
        {{shared 'contact.name.second'}}
        {{shared 'contact.name.last'}},
        ich bin 23 Jahre alt
        und habe Informatik mit Abschluss Bachelor an der
        {{> components/link
          id='ext-th-koeln'
          href=external.university.url
          name=external.university.name_der
          target='_blank'
          no-track=true
          analytics=false
        }}
        studiert.
        Ich war bereits während meines Studiums als Tutor beschäftigt
        <nobr>({{> components/link
          id='ext-tutoring-activity'
          href=external.tutoring.url
          name='siehe hier'
          target='_blank'
          no-track=true
        }})</nobr>
        und gebe nun nebenher freiberuflich Nachhilfe.
      </p>
      <p>
        Bereits zu meiner Schulzeit habe ich in meiner Freizeit programmiert
        und mir vieles neues Wissen selbstständig beigebracht.
        Diese Leidenschaft trage ich bis heute mit mir
        und ich freue mich immer,
        sie während meines Unterrichts ausleben zu können.
      </p>
      <p>
        Gerne berate ich dich auch zu deinem Studium
        oder berichte aus meinen eigenen Erfahrungen,
        wenn du mal die Perspektive eines Absolventen gebrauchen kannst!
      </p>
      <div class='segment py-2'>
        <div class='action'>
          {{> actions/link
            id='contact-about'
            name='Schreibe mich an'
            href=(shared 'links.local.contact' (env))
            no-track=false
          }}
        </div>
      </div>
    </section>
  </div>
  <div id='papier' class='image is-repeated is-left is-faint'></div>
</div>

<!--<div class='with-images'>
  <div id='papier' class='image is-repeated is-right is-faint'></div>
  <div class='image-content'>
    <section class='section py-0'>
      <div style='width: 100vw; height: 5rem'></div>
    </section>
  </div>
  <div id='papier' class='image is-repeated is-left is-faint'></div>
</div>-->
