<p>
  Ich heiße
  {{shared 'contact.name.second'}}
  {{shared 'contact.name.last'}}
  und habe Informatik mit Abschluss Bachelor an der
  <a {{> attributes/external}} href='{{external.university.url}}'>
    {{~external.university.name_der~}}
  </a>
  studiert.
</p>
<p>
  Ich war bereits während meines Studiums als Tutor beschäftigt
  (<a {{> attributes/external}} href='{{external.tutoring.url}}'
    {{> attributes/analytics id=(concat 'link_' 'ext-tutoring-activity')}}>siehe
    hier</a>)
  und habe regelmäßig Kommilitonen innerhalb von Lerngruppen geholfen,
  die Inhalte der Vorlesungen zu verstehen
  und das Gelernte bei ihren Aufgaben anzuwenden.
</p>
<p>
  Ebenso wie ich mir den Großteil meines Wissens
  selber erarbeitet habe,
  habe ich große Freude daran anderen Wissen zu vermitteln
  und komplexe Zusammenhänge verständlich zu erläutern.
</p>
<p>
  Ich liebe den Umgang mit anderen Menschen
  und lerne immer gerne neue Leute kennen!
</p>
