{{#> layouts/base header=true}}
{{#*inline 'content-block'}}

<div class='has-small-text'>
  <div class='section is-small'>
    <h1><b>Impressum</b></h1>

    <h2>Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
    <p>
      <span class='is-block'>
        {{shared 'contact.name.first'}}
        {{shared 'contact.name.second'}}
        {{shared 'contact.name.last'}}
      </span>
      <span class='is-block'>
        {{shared 'contact.domain'}}
      </span>
      <span class='is-block'>
        {{shared 'contact.address.street'}}
      </span>
      <span class='is-block'>
        {{shared 'contact.address.city'}}
      </span>
    </p>

    <h2>Kontakt</h2>
    <p>
      <span class='is-block'>
        Telefon:
        <a href='{{shared 'contact.phone.url'}}'>
          {{shared 'contact.phone.number'}}
        </a>
      </span>
      <span class='is-block'>
        E-Mail:
        <a href='{{shared 'contact.email.url'}}'>
          {{shared 'contact.email.address'}}
        </a>
      </span>
    </p>

    <h2>EU-Streitschlichtung</h2>
    <p>Die Europ&auml;ische Kommission stellt eine Plattform zur
      Online-Streitbeilegung (OS) bereit: <a
        href="https://ec.europa.eu/consumers/odr/" target="_blank"
        rel="noopener noreferrer">https://ec.europa.eu/consumers/odr/</a>.<br />
      Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

    <h2>
      Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
    </h2>
    <p>Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor
      einer Verbraucherschlichtungsstelle teilzunehmen.</p>

    <h2>Externe Links</h2>
    <p>Diese Webseite enthält so genannte externe Links (Verlinkungen) zu
      anderen Webseiten, auf deren Inhalt der Betreiber dieser Seite keinen
      Einfluss hat. Aus diesem Grund kann der Betreiber für diese Inhalte auch
      keine Gewähr übernehmen. Für die Inhalte und Richtigkeit der
      bereitgestellten Informationen ist der/die jeweilige Anbieter/in der
      verlinkten Webseite verantwortlich. Zum Zeitpunkt der Verlinkung waren
      keine Rechtsverstöße erkennbar. Bei Bekanntwerden einer solchen
      Rechtsverletzung wird der Link umgehend entfernt.</p>

    <h2>Urheberrecht</h2>
    <p>Sämtliche Inhalte dieser Webseite sind rechtlich geschützt. Das
      Verwenden,
      Vervielfältigen sowie Verändern der Inhalte, Texte, Bilder etc. bedarf
      einer schriftlichen Genehmigung des Seitenbetreibers.</p>

    <p class='legal-badge'>Quelle:&ensp;<a
        href="https://www.e-recht24.de">e-recht24.de</a></p>
  </div>
</div>

{{/inline}}
{{/layouts/base}}
